h1{ font: size 60px;
    color: rgb(255, 166, 0);
    background-color: aqua;
    text-align: center; 
}  
body{

    background-image: url('https://3.bp.blogspot.com/-JfL1o7oSnKI/VmodObHF9cI/AAAAAAAABLY/nKKRXw0-yiU/s1600/homero_456_336.jpg');
    
}